<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inmobiliaria</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">

                @if (!User.Identity.IsAuthenticated)
                {
                    <a class="py-2" asp-controller="Home" asp-action="Index"><span class="lnr lnr-home"></span> Inicio</a>
                    <a class="py-2 d-none d-md-inline-block float-right" href="@Url.Link("login", null)"><span class="lnr lnr-enter"></span>Iniciar Sesión</a> }
                else
                {
                    <div class="dropdown">
                        <a class="btn btn-primary dropdown-toggle text-light" href="#" role="button" id="homeMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent" data-display="static">
                            <span class="lnr lnr-home"></span> Inicio
                        </a>
                    </div>
                    @if (User.IsInRole("Administrador"))
                    {
                        <a class="py-2 d-none d-md-inline-block" asp-controller="Usuario" asp-action="Index"><span class="lnr lnr-star"></span> Usuarios</a>}
                    <a class="py-2 d-none d-md-inline-block" asp-controller="Propietario" asp-action="Index"><span class="lnr lnr-user"></span> Propietarios</a>
                    <a class="py-2 d-none d-md-inline-block" asp-controller="Inmueble" asp-action="Index"><span class="lnr lnr-apartment"></span> Inmuebles</a>
                    <a class="py-2 d-none d-md-inline-block" asp-controller="Contrato" asp-action="Index"><span class="lnr lnr-enter"></span> Alquileres</a>
                    <div class="dropdown">
                        <a class="btn btn-primary dropdown-toggle text-light" href="#" role="button" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent" data-display="static">
                            <span class="lnr lnr-user"></span> @User.Identity.Name
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item text-dark" asp-controller="Usuario" asp-action="Perfil"><i class="lnr lnr-user"></i> Perfil</a>
                            <a class="dropdown-item text-dark" asp-controller="Usuario" asp-action="Logout"><i class="lnr lnr-exit"></i> Salir</a>
                        </div>
                    </div>}

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="container">
            <div class="">
                @if (ViewBag.Id != null)
                {//alta exitosa
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>¡Éxito!</strong> La entidad fue dada de alta con id: @ViewBag.Id
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
                        </button>
                    </div> }
                else if (ViewBag.Mensaje != null)
                {//cartel general
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        <strong>Información:</strong> @ViewBag.Mensaje
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
                        </button>
                    </div> }
                else if (ViewBag.Error != null)
                {//alta exitosa
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>¡Error!</strong> @ViewBag.Error
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
                        </button>
                    </div> }
                else if (!String.IsNullOrWhiteSpace(ViewBag.Error))
                {//ocurrió un error
                    <environment names="Development">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>¡Error!</strong> Ocurrió: @ViewBag.Error
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
                            </button>
                            <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false"><span class="lnr lnr-plus-circle"></span></a>
                            <div class="collapse multi-collapse" id="multiCollapseExample1">
                                @ViewBag.StackTrace
                            </div>
                        </div>
                    </environment>}
                <div class="m-1 p-1">
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Inmobiliaria - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    @RenderSection("Scripts", false)
    @await Html.PartialAsync("_ScriptsPartial")
    <script type="text/javascript">
		function init() {
			$('.alert').alert();
		}

		function buscarPropietarios(q) {
			return $.ajax({//documentación: https://api.jquery.com/jquery.ajax/
				url: `@Url.Action("Buscar", "Propietarios")/${q}`,
				//method: "GET",
				//data: {...},
			}).done(res => {
				console.log("Búsqueda: ", res);
			}).fail(res => {
				console.log("Error: ", res);
			});
		}

		function modalLogin() {
			var modal = document.getElementById("modal_login");
			var abrirModal = () => {//función flecha
				//modales: https://getbootstrap.com/docs/4.0/components/modal/
				$('#modal_login').modal("show");
			}
			if (!modal) {
				$.ajax({
					url: `@Url.Action("LoginModal", "Usuario")`,
				}).done(res => {
					console.log("Modal: ", res);
					var div = document.createElement("div");
					div.innerHTML = res;
					document.body.appendChild(div);
					abrirModal();
				}).fail(res => {
					console.log("Error: ", res);
				});
			} else {
				abrirModal();
			}
		}
    </script>
</body>
</html>
