@model IEnumerable<Inmobiliaria.Models.Pago>

@{ ViewData["Title"] = "Index"; }

<h1>Index</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NroPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Importe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.IdPago)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NroPago)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FechaPago)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Importe)
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@item.IdPago" title="Editar"><span class="lnr lnr-pencil"></span></a>&nbsp;
        <a asp-action="Delete" asp-route-id="@item.IdPago" title="Eliminar"><span class="lnr lnr-cross"></span></a>
    </td>
</tr>}
    </tbody>
</table>
