@model IEnumerable<Inmobiliaria.Models.Contrato>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<h2>
    @ViewBag.Title
</h2><BR>
<form class="form-inline" asp-action="BuscarInmueblesPorFecha" asp-controller="Inmueble">
    <div class="input-group mb-2 mr-sm-2">
        <label for="FechaInicio" class="control-label"></label>
        <input name="FechaInicio" type="date" class="form-control" required />
    </div>
    <div class="input-group mb-2 mr-sm-2">
        <label for="FechaFin" class="control-label"></label>
        <input name="FechaFin" type="date" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-dark" style="margin-bottom: 9px;">Inmuebles disponibles</button>
</form>
<form class="form-inline" asp-action="BuscarVigentes" asp-controller="Contrato">
    <div class="input-group mb-2 mr-sm-2">
        <label for="FechaInicio" class="control-label"></label>
        <input name="FechaInicio" type="date" class="form-control" required />
    </div>
    <div class="input-group mb-2 mr-sm-2">
        <label for="FechaFin" class="control-label"></label>
        <input name="FechaFin" type="date" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-dark" style="margin-bottom: 9px;">Contratos Vigentes</button>
</form>
<br>
<a asp-action="Create" class="btn btn-dark" style="width:180px;">Crear nuevo<i class="fas fa-plus"></i></a>

<br>
<br>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDesde)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaHasta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inquilino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inmueble.Direccion)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaDesde)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaHasta)
                </td>
                <td>
                    @(item.Inquilino.Nombre + " " + item.Inquilino.Apellido)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Inmueble.Direccion)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" title="Editar"><i class="fas fa-edit"></i></a>&nbsp;
                    @if (ViewContext.HttpContext.User.IsInRole("Administrador"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id" title="Eliminar"><i class="fas fa-trash-alt"></i></a>
                    }
                    &nbsp;<a asp-action="PorContrato" asp-controller="Pago" asp-route-id="@item.Id" title="Pago"><i class="fas fa-money-check-alt"></i></a>

                </td>
            </tr>
        }
    </tbody>
</table>
