@model Inmobiliaria.Models.Inquilino

@{ ViewData["Title"] = "Detalle"; }

<h2>Detalle inquilino</h2>


<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdInquilino)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdInquilino)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dni)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dni)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreGarante)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreGarante)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoGarante)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApellidoGarante)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DniGarante)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DniGarante)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonoGarante)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TelefonoGarante)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DireccionGarante)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DireccionGarante)
        </dd>
    </dl>

</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</div>
